<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>237524455298-f00r7lr86vh2oj138qq47n3dr8s9rnpk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.237524455298-f00r7lr86vh2oj138qq47n3dr8s9rnpk</string>
	<key>API_KEY</key>
	<string>AIzaSyCq6xaNoJe2Fuz3dbd-lwXhw4uwZzKCAyg</string>
	<key>GCM_SENDER_ID</key>
	<string>237524455298</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tonnkama.app</string>
	<key>PROJECT_ID</key>
	<string>location-maison-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>location-maison-dev.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:237524455298:ios:ee9ed0e0e75c19999d499b</string>
</dict>
</plist>