# Variables d'environnement Firebase requises
FIREBASE_PROJECT_ID=tonnkama-49836
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-xxxxx@tonnkama-49836.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nXXXXX\n-----END PRIVATE KEY-----\n"
FIREBASE_STORAGE_BUCKET=tonnkama-49836.appspot.com 