# Configuration Firebase pour PRODUCTION
# Copiez ce fichier vers .env.prod et mettez vos vraies valeurs

FIREBASE_PROJECT_ID=location-maison-prod-167da
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-xxxxx@location-maison-prod-167da.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nVOS_CLÉS_DE_PRODUCTION_ICI\n-----END PRIVATE KEY-----\n"
FIREBASE_STORAGE_BUCKET=location-maison-prod-167da.firebasestorage.app
CREATED_BY=facebook_import_prod 